#chat-screen {
  /* background-color: #abc1d1; */
  height: 100vh;
  background-image: url("../../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  /* background-color: #abc1d1; */
}

#chat-screen .status-bar {
  z-index: 1;
}

/* @keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
} */

.main-chat {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* animation: fadeIn 1s linear; */
}

.chat-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row:nth-child(2) {
  opacity: 0;
  transform: translateX(-50px);
  animation: fromLeft 0.3s linear forwards;
}

.message-row__my:nth-child(3) {
  opacity: 0;
  transform: translateX(50px);
  animation: fromRight 0.5s linear forwards;
  animation-delay: 0.3s;
}

.message-row:nth-child(4) {
  opacity: 0;
  transform: translateX(-50px);
  animation: fromLeft 0.5s linear forwards;
  animation-delay: 0.6s;
}

.message-row__my:nth-child(5) {
  opacity: 0;
  transform: translateX(50px);
  animation: fromRight 0.5s linear forwards;
  animation-delay: 0.9s;
}

.message-row__my:nth-child(6) {
  opacity: 0;
  transform: translateX(50px);
  animation: fromRight 0.5s linear forwards;
  animation-delay: 1.2s;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  object-fit: cover;
  margin-right: 10px;
}

.message-row__content {
  display: flex;
  flex-direction: column;
}

.message__sender {
  color: var(--gray-color);
  margin-bottom: 10px;
}

.message__payload {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 10px;
  border-radius: 13px;
  border-top-left-radius: 0;
  font-size: 18px;
  margin-right: 8px;
}

.message_time {
  color: var(--gray-color);
  font-size: 14px;
}

.message-row__my {
  justify-content: flex-end;
}

.message-row__my .message__payload {
  flex-direction: row-reverse;
}

.message-row__my .message_time {
  margin-right: 8px;
  /* order: 0; */
}

.message-row__my .message__bubble {
  background-color: var(--yellow);
  border-radius: 13px;
  border-top-right-radius: 0;
  margin-right: 0;
  /* order: 1; */
}

.message_read {
  margin-right: 8px;
  color: var(--yellow);
  font-size: 14px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-sizing: border-box;
  transition: transform 0.3 ease-in-out;
}

.reply__column:first-child {
  width: 9%;
}

.reply__column:last-child {
  width: 91%;
  position: relative;
}

.reply__column input {
  width: 100%;
  height: 42px;
  border-radius: 20px;
  border: var(--main-border);
  padding-left: 12px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.reply__column__icons {
  position: absolute;
  top: 2px;
  right: 3px;
}

.reply__column__icons button {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background-color: var(--yellow);
  margin-left: 12px;
}

.reply .fa-square-plus,
.reply .fa-face-smile {
  color: var(--gray-color);
}

.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  /* reply 내부에 어떤 요소가 focus 되어 있다면*/
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translate(-10%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
