.settings-list {
  margin-bottom: 20px;
}

.settings__setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.settings__setting i {
  margin-right: 20px;
}

.settings__setting-last {
  padding-bottom: 45px;
}

.settings__column:last-child {
  color: var(--gray-color);
}

.settings__column {
  display: flex;
  align-items: center;
}

.settings__new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 600;
}
