.user-component {
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__profile {
  width: 70px;
  height: 70px;
  border-radius: 35%;
  object-fit: cover;
  margin-right: 20px;
}

.user-component__title {
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: var(--gray-color);
}

.user-component__profile-xl {
  width: 80px;
  height: 80px;
}

.user-component__profile-sm {
  width: 60px;
  height: 60px;
}

.user-component__title-bold {
  font-weight: 600;
}

.user-component__column:last-child {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 8px;
  color: var(--gray-color);
}

.user-component__phone-number {
  display: flex;
  align-items: center;
  color: tomato;
}

.fa-circle-exclamation {
  margin-top: 7px;
  margin-left: 7px;
}

.fa-message {
  color: black;
}

.user-component__message {
  color: #9c9c9c;
}

.user-component__music {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #00cd3c;
  font-size: 14px;
}
